body{
    background:#99262c;
    color:#333;
    font-family: 'Raleway', sans-serif;
    
  }
  
  .wrapper{
    width:100%;
    max-width:400px;
    margin: 100px auto;
    border-radius: 22px;
   
  }
  
  .main{
    background:#fff;
    width:100%;
    box-shadow:0px 5px 15px rgba(0,0,0,0.2);
    border-radius: 22px;
  }
  
  .explanation{
    position:absolute;
    top:0px;
    left:50%;
    width:100%;
    max-width:400px;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  
  /*HEADER*/
  .main .header{
    width:100%;
    height:200px;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    background: rgba(20, 19, 19, 0.829);
    overflow:hidden;
  }
  
  .title{
    font-family: 'Tangerine', cursive;
      text-align: center;
      font-size: 2rem;
      display: block;
      margin-bottom: 0px;
      cursor: default;
      color: #eaeaea;
  }
  
  .details{
      display: flex;
      font-weight: 100;
      font-size: 10px;
      justify-content: space-between;
      margin: 5px;
      color: #eaeaea;
      
      
  }

  [contenteditable="true"]:active,
  [contenteditable="true"]:focus{
      border: none;
      outline: none;
  }
  
  /*ITEMS*/
  .main ul{
    padding:0;
    margin:0;
    list-style-type: none;
    padding-top:5px;
    position:relative;
  }
  
  .main ul li{
    position:relative;  
    padding:0 25px;
  }

  
  
  .main div.add .add-txt div span{
    color:#fff;
    font-size:12px;
    position:relative;
    top:1px;
  }
  
  .main div.add .add-txt span.txt{
    display: inline-block;
      margin-left: 10px;
      vertical-align: top;
      position: relative;
      top: 3px;
  }
  
  .main ul li.ui-sortable-helper{
    background:white;
    border-radius:2px;
    box-shadow:0px 5px 15px rgba(0,0,0,0.1);
    cursor:move;
  }
  
  .main ul li:nth-child(2) label{
    border-top:0;
  }
  
  .main ul li label{
    display:inline-block;
    height:100%;
    width:100%;
    padding:20px 0;
    position:relative;
     border-top:1px solid #eaeaea;
  }
  
  .main ul li label:hover .checkbox{
    border-color:#999;
  }
  
  /*CHECKED*/
  .main ul li input[type=checkbox]:checked + label span:before{
    width:100%;
  }
  
  .main ul li input[type=checkbox]:checked + label .checkbox, 
  .main ul li input[type=checkbox]:focus + label .checkbox{
    background:#3bc562;
    border-color:#3bc562;
  }
  
  .main ul li input[type=checkbox]:checked + label{
    color:#CCC;
  }
  
  .main ul li input[type=checkbox]:checked + .icon-pencil{
    color:green;
  }
  
  .main ul li input[type=checkbox]:checked + label .checkbox .fa{
    display:block;
  }
  
  .main ul li label .checkbox{
    display:inline-block;
    width:20px;
    height:20px;
    border:2px solid #CCC;
    position:relative;
    top:2px;
    border-radius:4px;
    cursor:pointer;
    z-index:10;
  }
  
  .main ul li label .checkbox .fa{
    text-align:center;
    position:absolute;
    top:3px;
    left:3px;
    font-size:14px;
    display:none;
    color:white;
  }
  
  
  
  .main ul li label span.item-name{
    display:inline-block; 
    margin-left:10px;
    vertical-align: top;
    position:relative;
    top:5px;
  }
  
  .main ul li label span.item-name:before{
    content:'';
    height:1px;
    background:#999;
    width:0;
    position:absolute;
    top:8px;
    left:0;
    
    -webkit-transition: all 0.2s ease;
      -moz-transition:    all 0.2s ease;
      -o-transition:      all 0.2s ease;
      -ms-transition:     all 0.2s ease;
      transition:         all 0.2s ease;
  }
  
  .add input,
  .main ul li input[type=text]{
     position: absolute;
      border: none;
      color: #333;
      font-size: 16px;
      background: white;
      padding: 25px 0;
    padding-left:39px;
      width:0;  
      top: 0px;
    left:0;
      display: none;
      font-family: Arial;
    border-bottom:2px solid #34a1fd;
    
       -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    z-index:1;
    
    -webkit-transition: width 0.2s ease;
      -moz-transition:    width 0.2s ease;
      -o-transition:      width 0.2s ease;
      -ms-transition:     width 0.2s ease;
      transition:         width 0.2s ease;
  }
  
  
  
  .add input,
  .main ul li input[type=text]:focus{
    outline:none;
    width:100%;
  }
  
  .main ul li input[type=checkbox]{
    display:none;
  }
  
  .main ul .actions{
    position:absolute;
    top:0;
    right:20px;
    overflow:hidden;
    z-index:10;
  }
  
  .main ul li:hover .actions{
    display:block;
  }
  
  .main ul li:hover .actions span{
     opacity:1;
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    
    -webkit-transition: all 0.2s ease;
      -moz-transition:    all 0.2s ease;
      -o-transition:      all 0.2s ease;
      -ms-transition:     all 0.2s ease;
      transition:         all 0.2s ease;
  }
  
  .main ul .actions span{
    vertical-align: middle;
     display: inline-block;
    padding:25px 6px;
    cursor:pointer;
    color:#999;
    
    opacity:0;
    -moz-transform: translateX(100px);
    -webkit-transform: translateX(100px);
    -o-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
    
    
  }
  
  
  .main ul .actions span.fa-pencil:hover{
    color:#34a1fd;
  }
  
  .main ul .actions span.fa-trash:hover{
    color:#fe4444;
  }
  
  
 

 
  
  /*ADD NEW*/
  .add{
    padding:0 20px;
    cursor:pointer;
    position:relative;
    border-bottom: 2px solid rgba(153, 153, 153, 0.493);
  }
  
  .main div.add .add-txt{
    border-top:1px solid #eaeaea;
    padding:22px 0 23px;;
    position:relative;
  }
  
  .main div.add .add-txt div {
    border-radius:50%;
    width:20px;
    height:20px;
    background:#3bc562;
    border: 2px solid #3bc562;
    display:inline-block;
    text-align:center;
    position:relative;
    z-index:10;
  }
  
  .add input{
    border-bottom:0;
  }
  
  
  
  /*UNDO*/
  .undo{
    left:50%;
    -ms-transform: translate(-50%, 300px) ;
    -webkit-transform: translate(-50%, 300px);
    transform: translate(-50%, 300px);
    
    -webkit-transition: all 0.2s ease;
      -moz-transition:    all 0.2s ease;
      -o-transition:      all 0.2s ease;
      -ms-transition:     all 0.2s ease;
      transition:         all 0.2s ease;
    
    padding:15px;
    position:fixed;
    bottom:20px;
    font-size:14px;
    background:#fff;
    box-shadow:0px 3px 10px rgba(0,0,0,0.2);
    border-radius:2px;
    
    z-index:100;
  }
  
  .undo.active{
    -ms-transform: translate(-50%, 0px) ;
    -webkit-transform: translate(-50%, 0px);
    transform: translate(-50%, 0px);
  }
  
  .undo div{
    display:inline-block;
    margin-left:10px;
    border-left:1px solid #eaeaea;
    padding-left:10px;
    color:#999;
  }
  
  .undo div:hover{
    color:#3bc562;
    cursor:pointer;
  }
  
  .undo span{
    display:inline-block;
    margin-right:2px;
  }
  
  
  
  /*TOOLTIP*/
  .ui-tooltip {
      width: 200px;
      text-align: center;
      box-shadow: none;
      padding: 0;
  }
  .ui-tooltip-content {
      position: relative;
      padding: 0.5em;
  }